// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700,900&display=swap');
$lato: Lato, sans-serif;
$raleway: Raleway, sans-serif;
$fairplaySC : 'Playfair Display SC', sans-serif;